<div id="has-local-storage">
    <h2>Hey<span ng-show="welcomeName"> <b>{{welcomeName}}</b></span>! You have data saved from last time. Would you like to load it or start fresh?</h2>
    <button class="blue" ng-click="loadLocal()">Load it, please</button>
    <button ng-click="ignoreLocal()">I'll start fresh</button>
</div>

<div id="home" class="home">
    <div class="intro text-center">
        <h2 class="home-title">Resume Builder{{view}}</h2>
        <div class="content">
            <h4><b> Create Your Resume in Cognizant way</b></h4>
            <p>Just fill your information and generate fully formatted, cognizant style resume. </p>
        </div>
    </div>
</div>